body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 98%);
}
.body-container {
  padding: 30px 160px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: hsl(228, 39%, 23%);
  font-weight: 400;
  cursor: pointer;
}
.nav-links a:hover{
  color: hsl(12, 94%, 57%);
  transition: 0.3s ease;
}
.get-started-btn {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: hsl(12, 94%, 57%);
  color: white;
  border: none;
  cursor: pointer;
}

.logo img {
  display: block;
  height: 30px;
}
.logo img {
  display: block;
  height: 30px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  margin-bottom: 50px;
}

.text h1 {
  color: hsl(228, 39%, 23%);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}

.sub-text p {
  color: hsl(0, 1%, 46%);
  margin-bottom: 30px;
}

.image {
  margin: 50px;
}

.about-section {
  display: flex;
  justify-content:space-between;
}

.about-manage {
  width: 35%;
}
.about-manage h2 {
  font-size: 35px;
  color: hsl(228, 39%, 23%);
  font-weight: bold;
}
.about-manage p {
  color: hsl(0, 1%, 46%);
}

.card {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.card-number {
  background-color: hsl(12, 94%, 57%);
  height: fit-content;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  border: none;
}
.card-title{
  font-size: 16px;
  color: hsl(228, 39%, 23%);
  font-weight: bold;
}
.card p{
  color: hsl(0, 1%, 46%);
  width: 500px; ;
}
.testimonials{
  display: flex;
  padding: 50px;
  gap: 30px;
  
}

.testimonials p{
  width: 400px;
  text-align: center;
}
.testimonials img{
  width: 70px;
  margin-left: 120px;
}
.testimonials h3{
  margin-left: 120px;
}