/* RESET / GLOBAL */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 98%);
  font-family: "Be Vietnam Pro", sans-serif;
}

.body-container {
  padding: 30px 160px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: hsl(228, 39%, 23%);
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: hsl(12, 94%, 57%);
}

.get-started-btn {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: hsl(12, 94%, 57%);
  color: white;
  border: none;
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  margin-bottom: 50px;
}

.text h1 {
  color: hsl(228, 39%, 23%);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}

.sub-text p {
  color: hsl(0, 1%, 46%);
  margin-bottom: 30px;
}

.about-section {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 60px;
}

.about-manage {
  width: 35%;
}

.about-manage h2 {
  font-size: 35px;
  color: hsl(228, 39%, 23%);
  font-weight: bold;
}

.about-manage p {
  color: hsl(0, 1%, 46%);
}

.card {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card-number {
  background-color: hsl(12, 94%, 57%);
  height: fit-content;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
}

.card-title {
  font-size: 16px;
  color: hsl(228, 39%, 23%);
  font-weight: bold;
}

.card p {
  color: hsl(0, 1%, 46%);
  max-width: 500px;
}

.testimonials {
  display: flex;
  padding: 50px;
  gap: 30px;
  justify-content: center;
  text-align: center;
}

.testimonial-list img {
  width: 70px;
  margin-bottom: 10px;
}

.testimonial-list p {
  max-width: 400px;
  margin: 0 auto;
}
