body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 98%);
}
.body-container {
  padding: 30px 80px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lists {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.lists li a {
  text-decoration: none;
  color: hsl(228, 39%, 23%);
  font-weight: 400;
}
.get-started-btn {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: hsl(12, 90%, 62%);
  color: white;
  border: none;
}
.logo img {
  display: block;
  height: 30px;
}

.hero {
  display:flex;
  align-items: center;
}
.text{
  color: hsl(228, 39%, 23%);
  font-size: 40px;
}
.sub-text {
  color: hsl(0, 1%, 68%);
}

.image {
margin: 50px;
}