body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 98%);
}

.body-container {
  padding: 30px 100px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: hsl(228, 39%, 23%);
  font-weight: 400;
}

.get-started-btn {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: hsl(12, 94%, 57%);
  color: white;
  border: none;
}

.logo img {
  display: block;
  height: 30px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

.text h1 {
  color: hsl(228, 39%, 23%);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}

.sub-text p {
  color: hsl(0, 1%, 46%);
  margin-bottom: 30px;
}

.image {
  margin: 50px;
}
